
<section class="clearfix maincontent">
    <div class="container-fluid py-3">
        <img src="~/wwwroot//thu1.jpg" style="width:100%; height: 100%; z-index:-1; position:absolute;" />
        <div class="card">
            <div class="card-header border-danger">
                <div class="row">
                    <div class="col-md-6">
                        <h2><strong class="text-uppercase text-danger">Brand</strong></h2>
                    </div>
                    <div class="col-md-6 text-end">
                        <a href="" class="btn btn-success">
                            <i class="fa fa-plus"></i> Add
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body p-3">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center col-lg-auto">#</th>
                            <th class="text-center col-lg-auto">Name</th>
                            <th class="text-center col-lg-auto">Info</th>
                            <th class="text-center col-lg-auto" style="width:200px !important;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr *ngFor="let brand of data">
                            <td class="text-center">
                                <input name="checkId" type="checkbox" />
                            </td>
                            <td>{{brand.name}}</td>
                            <td>{{brand.info}}</td>
                            <td class="text-center" >
                                <a href="admin/brand/update/{{brand.id}}" class="btn btn-sm btn-info text-small">
                                    <i class="fa fa-wrench"></i>
                                    Edit
                                </a>
                                <a href="admin/brand/delete/{{brand.id}}" class="btn btn-sm btn-danger text-small">
                                    <i class="fa fa-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
        
                    </tbody>
        
                </table>
            </div>
        </div>
    </div>
</section>


