div img {
  display: block;
  height: auto;
  min-width: 100%;
  width: 100%;
  border-radius: 20px !important;
  background-size: cover;
}

div p{
  max-height: 70px !important;
}
div select{
  background-color: black;
  color: lightcyan !important;
}
div label{
 font-weight:bold !important;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.pd-wrap {
padding: 40px 0;
font-family: 'Poppins', sans-serif;
}
.heading-section {
text-align: center;
margin-bottom: 20px;
}
.sub-heading {
font-family: 'Poppins', sans-serif;
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #2e9ca1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.heading-section h2 {
font-size: 32px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
font-family: 'Poppins', sans-serif;
}
.user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
min-width: 80px;
background-size: 100%;
}
.carousel-testimonial .item {
padding: 30px 10px;
}

.name {
margin-bottom: 0;
  line-height: 14px;
  font-size: 17px;
  font-weight: 500;
}
.position {
color: #adadad;
font-size: 14px;
}


.round-black-btn {
border-radius: 4px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529; 
  transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
background: transparent;
color: #212529;
text-decoration: none;
}


.mb-20 {
margin-bottom: 20px;
}
.form-control {
font-size: 14px;
}
input.form-control {
height: 40px;
}
textarea.form-control {
resize: none;
}

.col-md-6 .select{
  background-color: black;
}