<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>
        Resize the browser window to see that this page is responsive by the
        way.
    </p>
</div>

<h2 style="text-align: center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.y7SS5wWCr5qe7FDmqL9QswHaEK?pid=ImgDet&rs=1" alt="yone" style="width: 100%" />
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://cdn.bongdaplus.vn/Assets/Media/2020/07/08/66/yasuo0.jpg" alt="yasuo" style="width: 100%" />
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="https://ggstorage.oxii.vn/images/oxii-2019-3-11/728/high-noon-lucian-league-of-legends-lol-x7929.jpg" alt="lucian" style="width: 100%" />
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>